.mt-modal-dialog{
    min-width: 600px;
    min-height: 400px;
    padding: 20px 40px;
    position: absolute;
    left: 50%;
    top:40%;
    transform:translate(-50%,-50%);
    background-color: #fff;
}

.mt-modal-header{

}