<html>
<head>
    <meta charset="UTF-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="icon" href="images/ico/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/ico/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div id='vue-app'>
        <!-- 路由出口 -->
        <!-- 路由匹配到的组件将渲染在这里 -->
        <router-view></router-view>
    </div>
    <div id='vue-modal'>
    </div>
    <script>
        // window.apiUrl = "http://10.1.245.105:8180/hps-home";
        // window.apiUrl = "/hps-home";
        window.isDebug = true;
    </script>
</body>
</html>